<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Parking Information</title>
</head>
<body>
    <h1>My Parking Information</h1>
    <table>
        <tr>
            <th>Parking Location</th>
            <th>Temperature</th>
            <th>Gas</th>
        </tr>
        <tr th:each="parkLoca : ${parkLocaInfoList}">
            <td th:text="${parkLoca.pLocation}"></td>
            <td th:text="${parkLoca.temp}"></td>
            <td th:text="${parkLoca.gas}"></td>
        </tr>
    </table>
</body>
</html>
