<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/parkingLot/save" method="post">
    <!-- name : 서버로 전송 할 때 변수이름의 역할 -->
    이름: <input type="text" name="memberName"> <br>
    전화번호: <input type="text" name="memberPhone"> <br>
    아파트 이름 :
    <select name="aptName">
      <option selected>푸르지오</option>
      <option>e편한세상</option>
      <option>래미안 자이</option>
    </select><br>
    아파트 동 : <input type="text" name="aptDong"><br>
    아파트 호수 : <input type="text" name="aptHo"><br>
    차량 번호 : <input type="text" name="carNum"><br>

    <input type="submit" value="회원가입">
  </form>
</body>
</html>